#content{
	width: 100%;
	height: 454px;
}
.whyme,.howopreate,.recommend-pro,.aboutus{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.tips{
	height: 28px;
	width: 678px;
	padding: 70px 0px;
	margin: 0 auto;
	background-color:#fff;
}

.tips>div{
	width: auto;
	height: 28px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tips>div img{
	position: relative;
	top: 10px;
	object-fit: contain;
}
span.item{
	margin:0 20px;
	color: #fd5c00;
	height: 28px;
	font-size: 26px;
}
.reason{
	width: 1200px;
	height: 216px;
	padding:0 0 70px 0;
	display: flex;
	justify-content: space-between;
}
.reason div {
	width: 146px;
	height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-right: 100px;
}
.reason p { 
	display: inline-block;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
}
.reason h3 { 
	display: inline-block;
	font-size: 22px;
}
.reason .bgpicture{
	width:80px;
	height: 80px;
	margin-left:100px ;
	transition: background 10ms;
	-moz-transition: background 10ms;	/* Firefox 4 */
	-webkit-transition: background 10ms;	/* Safari 和 Chrome */
	-o-transition: background 10ms;
	align-self: center;
}
.reason div:nth-child(1) div:nth-child(1){	
	background:url("../images/PC/corefeature.png") 0 0 no-repeat;
	background-size: 100%;
}
.reason div:nth-child(1) div:nth-child(1):hover{	
	background:url("../images/PC/corefeature.png") 0 -320px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(2) div:nth-child(1){	
	background:url("../images/PC/corefeature.png") 0 -80px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(2) div:nth-child(1):hover{	
	background:url("../images/PC/corefeature.png") 0 -400px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(3) div:nth-child(1){	
	background:url("../images/PC/corefeature.png") 0 -240px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(3) div:nth-child(1):hover{	
	background:url("../images/PC/corefeature.png") 0 -560px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(4) div:nth-child(1){	
	background:url("../images/PC/corefeature.png") 0 -160px no-repeat;
	background-size: 100%;
}
.reason div:nth-child(4) div:nth-child(1):hover{	
	background:url("../images/PC/corefeature.png") 0 -480px no-repeat;
	background-size: 100%;
}
.reason span {
	color: #ffb266;
} 
.reason .personalmargin {
	margin-right: 80px;
}
.reason .data-center{
	width: 225px;
	height: auto;
	margin: 0;
}
.data-center div {
	margin-left: 80px;
	width:176px;
	height: 44px;
	background:url("../images/PC/icon-data-center.png") left top no-repeat;
	background-size: 100%;
}
.data-center p {
	height: 42px;
	line-height: 42px;
	border-bottom:1px dashed #b3b3b3;
	font-size: 18px;
	margin-left:-20px;
	display: flex;
	color: #808080;
}
.data-center p span {
	color:#ffb266 ;
	font-size: 12px;
}
 .step{
 	display: flex;
 	width: 100%;
 	height: 152px;
 	box-sizing: border-box;
 	padding-bottom: 74px;
 }
 .step>div:nth-child(even){
 	width: 126px;
 	height: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .step div:nth-child(odd){
 	width: 198px;
 	height: 100%;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }
 .step div:last-child{
 	flex:1;
 }
 .explain{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 }
 .explain strong{
 	font-size: 20px;
 	color: #333;
 	font-weight: normal;
 }
  .explain span{
 	font-size: 16px;
 	color: #808080;
 	margin-top:-10px;
 }
 .recommend-pro{
 	border:1px solid #f0f0f0;
 	background-color: #fafafa;
 }
 .productslist{
 	width: 100%;
 	height: 310px;
 	padding-bottom: 70px;
 	display: flex;
 	justify-content: space-between;
 }
 .productslist div.cars{
 	box-sizing: border-box;
 	width: 250px;
 	height: 100%;
 	padding: 30px 26px;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	align-items: center;
 }
  .productslist div.cars p:nth-child(1) {
 	color: #333;
 	font-size: 20px;
 }
   .productslist div.cars p:nth-child(2) {
 	color: #808080;
 	font-size: 14px;
 }
    .productslist div.cars div:nth-child(3) {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	width:100%;
 }
   .productslist div.cars div:nth-child(3) p:nth-child(1){
 	color: #ff5500;
 	font-size: 28px;
 }
    .productslist div.cars div:nth-child(3) p:nth-child(1) span{
 	font-size: 14px;
 }
    .productslist div.cars div:nth-child(3) p:nth-child(2){
 	color: #999;
 	font-size: 14px;
 }
    .productslist div.cars div:nth-child(3) p:nth-child(3){
 	color: #676767;
 	font-size: 14px;
 	display: flex;
 	width:100%;
 	flex-direction: row;
 	justify-content: space-between;
 }
    .productslist div.cars div:nth-child(3) p:nth-child(3) span:nth-child(1)::after{
 	content:"1255W";
 	color: #ff7f52;
 	font-size: 14px;
 }
     .productslist div.cars div:nth-child(3) p:nth-child(3) span:nth-child(2)::after{
 	content:"100天";
 	color: #ff7f52;
 	font-size: 14px;
 }
    .productslist div.cars div:nth-child(4) {
 	height: 40px;
 	border-radius:6px;
 	overflow: hidden;
 	width: 100%;
 }
    .productslist div.cars div:nth-child(4) button{
 	width: 100%;
 	height: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color: #fff;
 	font-size: 20px;
 	background-color: #FF7F52;
 	border: none;
 }
 .intruduce{
  	width: 100%;
 	height: auto;
 }
 .aboutus{
 	background: #f5f5f5;
 }
 .intruduce p{
 	width: 100%;
 	line-height: 22px;
 	box-sizing: border-box;
 	padding:0 30px;
 	font-size: 14px;
 	color: #666;
 	text-indent: 2em;
 }
 .intruduce p:nth-child(1){
 	margin-bottom: 20px;
 }
 .cerficate{
 	width: 100%;
 	box-sizing: border-box;
 	padding:60px 180px;
 	display: flex;
 	justify-content: space-between;
 }
 .cerficate div{
 	box-sizing: border-box;
 	width: 210px;
 	height: 300px;
 	padding:10px 15px;
 }
 .cerficate div img{
 	width: 100%;
 	height: 100%;
 	object-fit: contain;
 }
 .attention{
 	width: 1200px;
 	box-sizing: border-box;
 	padding:20px 180px;
 	overflow: auto;
 }
 .attention div {
 	height: 100%;
 	width:120px;
 	float:left;
 	text-align: center;
 }
 .attention div:nth-child(1){
 	margin-right: 50px;
 }
  .attention div:nth-child(2){
 		margin-right: 60px;
 }
 .attention div img {
 	width: 100%;
 	object-fit: contain;
 }
  .attention div span{
 	font-size: 14px;
 	color: #666;
 }
 .attention .sideline {
 	width: 1px;
 	height: 100%;
 	background-color: #ccc;
 }

.attention .getsomething {
	width:416px;
	height: 183px;	
	padding-left: 70px;
	border-left: 1px solid #ccc;
}
.getsomething>p{
	text-align: left;
	text-indent: 0;
	font-size: 18px;
	color: #808080;
	padding:0;
	line-height: 36px;
}
.getsomething>p>span{
	color: #ff7f52;
	font-size: 18px;
}
.getsomething a{
	display: inline-block;
	width: 100%;
	height: 46px;
	font-size: 20px;
	border-radius: 6px;
	background: #ff7f52 url("../images/PC/noney-bag.png") 24% 50% no-repeat;
	color: #fff;
	line-height: 46px;
	margin-top:20px;
}
