<div class="whyme">
		<div class="tips">
			<div>
				<img alt="" src="images/PC/line.png" />
				<span class="item">为什么选择我们好收益</span>
				<img alt="" src="images/PC/line2.png" />
			</div>
		</div>
		<div class="reason clearfix">
			<div>
				<div class="bgpicture">
				</div>
				<h3>有保障</h3>
				<p><span>抵押</span>融资有保障</p>
				<p><span>债权回购</span>好安心</p>
			</div> 
			<div>
				<div class="bgpicture">
				</div>
				<h3>短周期</h3>
				<p><span>1-6月</span>周期短</p>
				<p><span>债权转让</span>更灵活</p>	
			</div>	
			<div>
				<div class="bgpicture">
				</div>
				<h3>好收益</h3>
				<p>最高<span>13.5%</span>撮合利率</p>
				<p>优势<span>明显</span>,信息透明</p>	
			</div>	
			<div class="personalmargin">
				<div class="bgpicture">
				</div>
				<h3>低门槛</h3>
				<p><span>10元</span>起步门槛低</p>
				<p><span>资金复投</span>利用高</p>				
			</div>	 
			<div class="data-center">
				<div></div> 
				<p><span>总成交额 </span>771,345,888<span>元</span></p>
				<p><span>待还本息  </span>117,471,535<span>元</span></p>
				<p><span>累计收益  </span>27,601,100<span>元</span></p>
			</div>	
		</div>
</div>
	
	
	
	<div class="howopreate">
		<div class="tips">
			<div>
				<img alt="" src="images/PC/line.png" />
				<span class="item">操作流程是什么</span>
				<img alt="" src="images/PC/line2.png" />
			</div>
		</div>
		<div class="step">
			<div>
				<img src="images/PC/Logan-.png"/>
				<div class="explain">
					<strong>免费注册</strong>
					<span>10秒快速注册</span>
				</div>
			</div>
			<div>
				<img src="images/PC/dot.png"/>
			</div>
			<div>
				<img src="images/PC/identify-.png"/>
				<div class="explain">
					<strong>安全认证</strong>
					<span>实名身份认证</span>
				</div>
			</div>
			<div>
				<img src="images/PC/dot.png"/>
			</div>
			<div>
				<img src="images/PC/lend.png"/>
				<div class="explain">
					<strong>充值出借</strong>
					<span>在线快捷支付</span>
				</div> 
			</div>
			<div>
				<img src="images/PC/dot.png"/>
			</div>
				<div>
				<img src="images/PC/earn.png"/>
				<div class="explain">
					<strong>收益获取+体现</strong>
					<span>收益准时，随时体现</span>
				</div> 
			</div>
		</div>
</div>
<div class="recommend-pro">
	<div class="tips">
			<div>
				<img alt="" src="images/PC/line.png" />
				<span class="item">项目推荐</span>
				<img alt="" src="images/PC/line2.png" />
			</div>
	</div>
	<div class="productslist">
		<div class="cars">
			<p>好车汇</p>
			<p>抵押-15年奥迪Q7[辽宁-本溪]</p>
			<div>
				<p>(12.0+0.5)<span>%</span></p>
				<p>约定撮合利率</p>
				<p><span>金额：</span><span>期限：</span></p>
			</div>
			<div>
				<button>
					立即出借
				</button>
			</div>
		</div>
		<div class="cars">
				<p>好车汇</p>
			<p>抵押-15年奥迪Q7[辽宁-本溪]</p>
			<div>
				<p>(12.0+0.5)<span>%</span></p>
				<p>约定撮合利率</p>
				<p><span>金额：</span><span>期限：</span></p>
			</div>
			<div>
				<button>
					立即出借
				</button>
			</div>
		</div>
		<div class="cars">
				<p>好车汇</p>
			<p>抵押-15年奥迪Q7[辽宁-本溪]</p>
			<div>
				<p>(12.0+0.5)<span>%</span></p>
				<p>约定撮合利率</p>
				<p><span>金额：</span><span>期限：</span></p>
			</div>
			<div>
				<button>
					立即出借
				</button>
			</div>
		</div>
		<div class="cars">
				<p>好车汇</p>
			<p>抵押-15年奥迪Q7[辽宁-本溪]</p>
			<div>
				<p>(12.0+0.5)<span>%</span></p>
				<p>约定撮合利率</p>
				<p><span>金额：</span><span>期限：</span></p>
			</div>
			<div>
				<button>
					立即出借
				</button>
			</div>
		</div>
	</div>
	
</div>	
<div class="aboutus">
	<div class="tips">
			<div>
				<img alt="" src="images/PC/line.png" />
				<span class="item">关于我们</span>
				<img alt="" src="images/PC/line2.png" />
			</div>
	</div>
	<div class="intruduce">
		<p>小油菜自2014年1月上线运营以来，成为首批第三方资金托管单位，根据《网络借贷信息中介机构业务活动管理暂行
			先后取得增值电信业务经营许可证（ICP证），并成功加入中国互联网金融协会会员；
			每一个项目均在北京市网贷行业协会进行备案；同时严格按照信息披露要求，在所有标的详情页，
		</p>
		<p>
			向出借人真实、全面披露相关信息，定期披露运营报告及平台数据，项目信息透明度尽可能做到最大化
			办法（征求意见稿）,小油菜严格按照转型要求进行合规转型。积极与当地监管部门沟通，及时汇报平台相关情况，小油菜线上的
		</p>
		<div class="cerficate">
			<div></div>   
			<div></div>
			<div></div>
		</div>
		<div class="attention clearfix">
			<div class="">
				<img alt="" src="images/PC/haoshouyi1.png" /> 
				<span>扫一扫关注公众号</span>
				<span>获取最新资讯</span>
			</div>
			<div class="">
				<img alt="" src="images/PC/haoshouyi2.png" /> 
				<span>扫一扫下载APP</span>
				<span>关注优质项目</span>
			</div>
			<div></div>
			<div class="getsomething">
					<p>新用户注册即送<span>8888元</span>体验金和<span>288专属礼包</span></p>
					<a href="#">立即注册领取红包</a>
			</div>
		</div>
	</div> 
</div> 